/* Variables and mixins declared here will be available in all other SCSS files */
/* https://github.com/jgthms/bulma/issues/1293 */

// Used by PageHeader component .header-wrapper
$page-header-border-color: rgba(0, 40, 100, 0.12);

$body-background-color: #f5f7fb;
$card-background-color: #fff;
$text-strong: #495057;
